@import "variables";

body {
    background-color: $paint;
}
nav {
    display: flex;
    justify-content: space-between;
    h1 {
        color: red;
    }
    ul {
        list-style: none;
        display: flex;
        li{
            margin-right: 100px;
        }
    }

}
h1 {
    color: green;

}
.container {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    h1{
        color: red;
    }
}